* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: blaCK;
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.mile img {
  align-self: center;
  background-attachment: fixed;
}

h1 {
  color: darkkhaki;
  font-family: monospace;
}
span,
td {
  color: darkgoldenrod;
}
th {
  color: darkgray;
}
